.notification {
  border-radius: 8px;
  background-color: burlywood;
  border: 2px solid brown;
  margin-left: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  position: relative;
  left: 100vw;
  -webkit-animation: slide-in .5s forwards;
  -webkit-animation-delay: .5s;
  animation: slide-in .5s forwards;
  animation-delay: .5s;
}

@-webkit-keyframes slide-in {
  100% { left: 0; }
}

@keyframes slide-in {
  100% { left: 0; }
}

.notification > .icon {
  width: 32px;
  height: 32px;
  background-color: brown;
}

.notification > .progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  border: 2px solid gray;
  background-color: green;
}
