.task-handler.sell-books {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sell-books .book-column,
.sell-books .bag-column {
  flex: 0 0 auto;
  /* border: 1px dashed slategray; */
}

.sell-books .book {
  padding-left: 2.5vw;
  z-index: 100;
  touch-action: none;
}

.sell-books .bag {
  padding-right: 2.5vw;
}

.sell-books .book > img,
.sell-books .bag > img {
  width: 25vw;
  height: 25vw;
  pointer-events: none;
}

.sell-books .book-column > p,
.sell-books .bag-column > p {
  user-select: none;
  pointer-events: none;
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}

.sell-books > .filler {
  flex: 1;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.sell-books > .filler > img {
  width: 10vw;
  height: 10vw;
  /* animation-iteration-count: infinite; */
  position: relative;
  left: -5vw;
  pointer-events: none;
}

